 .register-page {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding:2rem;
   gap:2rem;
   background: #4a5a9e;
   
 }

 .register-container{
    margin-top: 20px;
    width: 100%;
    max-width: 450px;
    background: #4a5a9e;
    padding:2rem;
    border-radius: 15px;
    box-shadow:
    0 4px 12px rgba(0,0,0.15);
 }

 .register-title{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #FDFBF7;
    font-size: 2rem;
 }

 .register-form {
    display: flex;
    flex-direction: column;
    gap : 1rem;
 }
 .register-form label {
    font-weight: 600;
    color: #121212;
 }

 .register-form input {
   padding: .8rem;
   border: 1px solid #ccc;
   border-radius: 8px;
   font-size: 1rem;
   transition: .3s;
 }

 .register-form input:focus {
   outline:none;
   border-color: #6c63ff;
   box-shadow:
   0 0 0 3px rgba(108,99,255,.2);
 }

 .register-form button {
   margin-top: 1rem;
   padding: .9rem;
   border:none;
   border-radius: 8px;
   background-color: #6c63ff;
   color:#FDFBF7 ;
   font-weight: bold;
   cursor: pointer;
   transition: .3s;
 }

 .register-form button:hover {
     background: #574bdb;
 }

 .error {
   color:crimson;
   font-size: .85rem;
   margin-top: -8px;
 }

 .register-link {
   margin-top: 1.5rem;
   text-align: center;
   color: #FDFBF7;
 }

 .register-link a {
   color:#E5C38E;
   text-decoration: none;
   font-size: bold;
 }

 .register-link a:hover {
   text-decoration:underline;
 }

 

 @media (max-width:600px) {
   .register-container {
      padding: 1.5rem;
   }

   .register-title {
      font-size: 1.7rem;
   }

 }