.sibebar{
    width: 260px;
    background: #111827;
    border-right: 1px solid rgba(255,255,255,.06);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    position: sticky;
    top: 0;
}

.sidebar-logo{
    text-align: center;
    margin-bottom:50px;
}

.logo-cicle{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
    linear-gradient(
        135deg,
        #5b5cf0,
        #7b3aed
    );
    font-size: 28px;
    margin-bottom: 15px;
}

.sidebar-logo h2{
    color: #fdfdf7;
}

.sidebar-logo span{
    color: #8b5cf6;
    font-weight:700;
}

.sidebar-logo small{
    display: block;
    margin-top:8px;
    color: #6b7280;
    letter-spacing: 3px;
}

.sidebar nav{
    flex:1;
}

.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar li{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    color: #9ca3af;
    cursor:pointer;
    border-radius: 12px;
    transition: .3s;
}

.sidebar li:hover{
    background: #1f2937;
    color: #fdfdf7;
}

sidebar .active{
    background: linear-gardient(
        90deg,
        #4f46e5,
        #6366f1
    );
    color:#fdfdf7;
    font-weight: 600;
}

.logout-btn{
    margin-top:40px;
    border:none;
    background: #1f2937;
    color: #ef4444;
    padding:15px;
    border-radius: 12px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: .3s;
}

.logout-btn:hover{
    background:#ef4444;
    color:#fdfdf7;
}